/* .info-header {
  display: flex;
  flex-direction: column;
}  */

.background-video {
    top: var(--header-height);
    right: 0;
    left: 0;
    height: 50vh;
    overflow: hidden;
    width: 100%;
    z-index: -1;
}


.header-video {
  width: 100%;
  overflow: hidden;
}
