.portal-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.portal-header {
	flex: 1 1 15%;
	display: flex;
	justify-content: left;
	padding: 25px;
}

.portal-main {
	flex: 0 1 75%;
}

.portal-footer {
	flex: 0 1 10%;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 20px;
	padding: 1rem;
}

.estreno-container,
.recomendados-container,
.peliculas-container,
.series-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 15px;
}

.estreno-info,
.recomendados-info,
.peliculas-info,
.series-info {
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 200px;
	width: 100%;
	overflow: hidden;
}

.info {
	position: absolute;
	bottom: 0;
	padding: 1rem;
	background: rgba(0, 0, 0, 0.7);
	color: white;
}

.info .title {
	font-weight: bold;
	font-size: 1.2rem;
	margin-bottom: 0.4rem;
}

.info .meta {
	display: flex;
	justify-content: space-between;
}

.info .sinopsis {
	margin-top: 0.4rem;
}

.info {
	opacity: 0;
	transition: all ease-in 0.3s;
	transform: translateY(100%);
}

.estreno-info a:hover .info,
.recomendados-info a:hover .info,
.peliculas-info a:hover .info,
.series-info a:hover .info {
	opacity: 1;
	transform: translateY(0%);
}

@media (min-width: 576px) {
	.estreno-container,
	.recomendados-container,
	.peliculas-container,
	.series-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 15px;
	}
}

@media (min-width: 768px) {
	.estreno-container,
	.recomendados-container,
	.peliculas-container,
	.series-container {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-gap: 15px;
	}
}
